<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/aboutUs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section class="sub-header ">
        <h1>About Us</h1>
</section>

<section class="course">
    <h4>E-Vote </h4>
    <div class="row">
    <div class="course-col">
    <h4><i>Take your Votes to the Next Level</i></h4>
        <p><i>Our System is about accessible Election system in many field. Our system deliver easy to use, high integrity, affordable voting solutions to voters and voting administrators of member-based organizations.</i></p>

      </div>


          <div class="course-col">
              <p>A secure voting tool that allows your group to collect input from your group and closely scrutinize the
             results in real time.
             Online voting tools and online election voting systems help you make important decisions by gathering the
             input of your group in a way that systematic and verifiable.
                </p>
          </div>

          <div class="course-col">
            <h4>How to check result of Election.</h4>
              <p>This feature help the user(admin/voter/candidate) to see election result.</p>
        <ul>
            <li>Click on Result option.</li>
            <li>Result will be displayed if election is successfully conducted.</li>
            <li>Candidate name and position with total votes with be display.</li>
            <li>You can also share result to other.</li>

        </ul>
          </div>
    </div>
           <p>In all of these cases, an online voting system will enable better decisions, justify those decisions, and
             let you share proof that these decisions were carried out in line with the standards of your group.</p>
                <a href="/more" >Our services</a>
</div>
</section>



<br><br>

</body>
</html>
