<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
     <link rel="stylesheet" href="/static/css/electionDetaillnVoterDashboard.css">
    <title>electionDetailInVoterDashboard</title>
</head>
<body>
<section class="headerC">
    <nav>
        <div class="nav-links" id="navlinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/voterDashboard">DASHBOARD</a> </li>
                <li><a href="/aboutUs">ABOUT US</a> </li>
                <li><a href="/help">HELP</a></li>
                <li><a href="/profile">PROFILE</a> </li>

            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
   </section>
<br><br><br>

<center>
<h2 class="headVD">ELECTION ID:- </h2>
    <br>
<h3 class="textVD">{{data['electionId']}}</h3>
        <br>    <br>
<h2 class="headVD">ADMIN NAME:-</h2>
        <br>
<h3 class="textVD">{{data['adminName']}}</h3>
        <br>    <br>
<h2 class="headVD">POSITION:-</h2>
        <br>
<h3 class="textVD">{{data['post']}}</h3>
        <br>    <br>
<h2 class="headVD">START DATE:-</h2>
        <br>
<h3 class="textVD">{{data['startDate']}}</h3>
        <br>    <br>
<h2 class="headVD">END DATE:-</h2>
        <br>
<h3 class="textVD">{{data['endDate']}}</h3>
        <br>    <br>
<a href="/logout">Logout</a>
</center>
<script>
     var navlinks=document.getElementById("navlinks");
    function showMenu(){
        navlinks.style.right="0";
    }
     function hideMenu(){
        navlinks.style.right="-200px";
    }
</script>
</body>
</html>