<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/help.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section class="sub-header ">
        <h1>Help</h1>
</section>

<section class="course">
        <h2>Guideline</h2><br><hr><br>
    <div class="row">
    <div class="course-col">
    <h4>How to create new Election</h4>
        <p>This feature help Admin to create and conduct election.</p>
             <ul>
            <li>Click on CREATE NEW option</li>
            <li>Enter details about election.</li>
            <li>Enter details about public(which take part in elections).</li>
            <li>Enter details about candidates(which can be from public or outsider).</li>
            <li>Write notification.</li>
                 <li>Send notification to voters.</li>

            </ul>


      </div>
          <div class="course-col">
    <h4>How to cast Vote</h4>
              <p>This feature help Voter to cast vote successfully.</p>
        <ul>
            <li> Click on CAST Vote option.</li>
            <li> Login using your email(on which you received notification).</li>
            <li> Use ID(giving in notification) to cast vote.</li>
            <li> You can use your ID only one time.</li>

        </ul>
          </div>

          <div class="course-col">
            <h4>How to check result of Election.</h4>
              <p>This feature help the user(admin/voter/candidate) to see election result.</p>
        <ul>
            <li>Click on Result option.</li>
            <li>Result will be displayed if election is successfully conducted.</li>
            <li>Candidate name and position with total votes with be display.</li>
            <li>You can also share result to other.</li>

        </ul>
          </div>
    </div>
            <div class="row">

           <div class="course-col">
            <h4>How to see previous Elections detail.</h4>
              <p>This feature help the user(admin/voter/candidate) to see previous election detail.</p>
        <ul>
            <li>Go to Setting options.</li>
            <li>Click on history.</li>
            <li>You will be able to see all previous elections detail.</li>
        </ul>
          </div>

          <div class="course-col">
            <h4>How to see status of notifications.</h4>
              <p>This feature help Admin to check notifications status.</p>
        <ul>
            <li>Click on Status option.</li>
            <li>Status of each notification will be display(send,not send).</li>
            <li>Status of each voter response will be display(cast,not cast).</li>
            <li>Status of election will be display(remaining time).</li>

        </ul>
          </div>
        <div class="course-col">
            <h4>How to change Account details.</h4>
              <p>This feature help Admin to change or update account detail.</p>
        <ul>
            <li>Go to Setting.</li>
            <li>Click on Account option.</li>
            <li>Make changes/update.</li>
            <li>You can also Add another account.</li>
            <li>If you no longer need this account you can also delete it.</li>


        </ul>

          </div>
</div>
</section>



<br><br>

</body>
</html>
