<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/more.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section class="sub-header ">
        <h1>Our Services</h1>
</section>
<section class="about-us">
    <div class="row">
        <div class="about-col">
            <h1>Online Election System</h1>
            <p>Our System is about accessible Election system in many field. Our system deliver easy to use, high integrity, affordable voting solutions to voters and voting administrators of member-based organizations.</p>
        <p>Not every organization can run their election or meeting votes themselves due to their own bylaws or external statutes. That’s why we offer consultation, expert setup and voter management services so you and your voters are confident in the voting results</p>
        </div>
        <div class="about-col">
            <img src="/static/images/aboutsys.jpg" style="height: 69%;">
        </div>
    </div>
         <h2 style="text-align: center;">Take your Votes to the Next Level</h2>

</section>

<section class="course">

<br>
    <div class="row">
        <div class="course-col">
        <h4>System</h4>
        <p>A secure voting tool that allows your group to collect input from your group and closely scrutinize the
             results in real time.
             Online voting tools and online election voting systems help you make important decisions by gathering the
             input of your group in a way that systematic and verifiable. It gives voters the possibility to easily
             and comfortably fill out and cast a ballot using their own personal computer or smartphone, allowing them
             to vote from virtually any location with Internet access.
        </p>
        </div>
        <div class="course-col">
              <h4>Features</h4>
             <p>Oftentimes, these decisions are made on a yearly basis - during an event, or at a particular time of the
             year, or you might run ongoing polls amongst your group. You can:</p>
             <ul>
            <li>Elect your leadership</li>
            <li>Admit new members to your group</li>
            <li>Gather anonymous feedback from your employees</li>
            <li>Vote on yearly budgets.</li>
            <li>Alter your operational procedures and bylaws</li>
            </ul></div>
        <div class="course-col">
        <h4>Scope</h4>
        <ul>
            <li> Law Firm</li>
            <li> Academic</li>
            <li> Healthcare</li>
            <li> Societies or Clubs</li>
            <li> Sports Association</li>
            <li> Healthcare</li>
            <li> Entertainment</li>
            <li> Industry Association</li>
        </ul>
        </div>
        </div>
    <div class="row">
          <div class="course-col">
            <h4>Features</h4>
        <ul>
            <li>Admin can make an election announcement</li>
            <li>Admin can make an election pole</li>
            <li>Admin can send emails to candidates and voters
            <li>Voters can saw their status
            <li>A history of elections will be saved in history as records

        </ul>
          </div>
        <div class="course-col">
            <h4>Setup Excellence</h4>
          <p>

             In all of the cases, an online voting system will enable better decisions, justify those decisions, and
             let you share proof that these decisions were carried out in line with the standards of your group.

          </p>
        </div>

          <div class="course-col">
            <h4>Future</h4>
        <ul>
            <li>We will</li>
            <li>Admin can make an election pole</li>
            <li>Admin can send emails to candidates and voters
            <li>Voters can saw their status
            <li>A history of elections will be saved in history as records

        </ul>
          </div>
        </div>
        </div>
</section>



<br><br>

</body>
</html>
