<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>setting</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="/static/css/nunito-font.css">
    <link rel="stylesheet" href="/static/css/setting.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript chrome-extension://gighmmpiobklfepjocnamgkkbiglidom/browser-polyfill.js.map: -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
   crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>


</head>
<body>
<section style="background-color: lightseagreen;">
    <nav>
        <div class="nav-links" id="navlinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/dashboard">DASHBOARD</a> </li>
                <li><a href="/aboutUs">ABOUT US</a> </li>
                <li><a href="/help">HELP</a> </li>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
   </section>
<br>


<div class="container">
<br><br><h3 style="text-align: center;">Setting </h3>

    <a href=/api/ProfilepageOfAdmin  class="button">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text">Profile</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
    </a>

    <a href="/removeElection" class="button">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text">Remove Election</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
    </a>
    <a href="#" class="button">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span onclick="myFunction()" class="button__text">Theme</span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
    </a>
    <a href="/home" class="button"  id="submit" type="button" name="DEACTIVATE ACCOUNT" value="deactivate">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text" >Deactivate Account
    </span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
    </a>

    <a href="/logout"  class="button">
    <div class="button__line"></div>
    <div class="button__line"></div>
    <span class="button__text">Logout
    </span>
    <div class="button__drow1"></div>
    <div class="button__drow2"></div>
  </a>
    <script>
 $("#submit").on('click', function(){
            // send ajax
            $.ajax({
                url: '/api/DeactivateAdminAccount' , // url where to submit the request
                type : "DELETE", // type of action POST || GET
                dataType : 'json',
                contentType: "application/json; charset=utf-8",

                success : function(result) {
                    window.location.href="http://127.0.0.1:5000/home"
                },
                error: function(xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            })

        });
    </script>

 <script>
        function myFunction()
        {
           var element = document.body;
           element.classList.toggle("dark-mode");
        }
 </script>
    <script>
     var navlinks=document.getElementById("navlinks");
    function showMenu(){
        navlinks.style.right="0";
    }
     function hideMenu(){
        navlinks.style.right="-200px";
    }
</script>
</div>
</body>
</html>