<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>voterDisplay</title>
    <link rel="stylesheet" href="/static/css/vcDisplay.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

      <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript chrome-extension://gighmmpiobklfepjocnamgkkbiglidom/browser-polyfill.js.map: -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
   crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

</head>

<body onload="load()">
<section style="background-color: lightseagreen;">
    <nav>
        <div class="nav-links" id="navlinks">
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="/electionDetailHomePage">BACK</a> </li>
                <li><a href="/dashboard">DASHBOARD</a> </li>
                <li><a href="/aboutUs">ABOUT US</a> </li>
                <li><a href="/help">HELP</a> </li>
                <li><a href="/profile">PROFILE</a> </li>

            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
    </nav>
   </section>
<br><br><br>
<table id="show" border="2">
    <thead>
            <tr>
                <th>VOTER ID</th>
                <th>USER NAME</th>
                <th>EMAIL</th>
              <th>VOTE Status</th>
              <th>ELECTION ID</th>
            </tr>
        </thead>

</table>
     <script>
           function load(){
                 $.ajax({type:"GET",
                     url:"/api/GetAllVoters",
                     success: function(result){
                         myData = result
                         console.log(myData)
                         if(myData !=null || myData != "")
                         {
                            table = $('#show').DataTable( {
                                data: myData ,destroy: true,
                                columns: [
                                    { data: "voterid" },
                                    { data: "username" },
                                    { data: "email" },
                                    { data: "vote" },
                                    { data: "electionId" }
                                ]
                            } );
                            console.log(myData)
                        }

                  }});
        };

    </script>
<script>
     var navlinks=document.getElementById("navlinks");
    function showMenu(){
        navlinks.style.right="0";
    }
     function hideMenu(){
        navlinks.style.right="-200px";
    }
</script>

</body>
</html>
